* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.imgHeader {
    height: 50%;
    background-image: url("/images/dateNrateFrontPagePicture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.boxbox {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px; /* this is half the height of your div*/
    margin-left:-100px; /*this is half of width of your div*/
    background-color: hotpink;
    color: #fff;
    padding: 5%;
    border: solid 3px black;
}



.boxLogin {
    position:absolute;
    top:40%;
    left:50%;
    /*margin-top:-50px; !* this is half the height of your div*!*/
    /*margin-left:-100px; !*this is half of width of your div*!*/
    width: 45%;
    transform: translate(-50%,0%);
    min-height: 25%;
    min-width: 450px;
    max-width: 600px;
    background: #fff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
    border-radius: 12px;

}

.boxHeaderLogin {

    background: #f0f0f0;
    height: 100px;
    line-height: 100px;
    border-radius: 12px 12px 0 0;
    text-align: center;
}

.button {

    background-color: rgb(175,0,0);
    border-radius: 35%;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    min-width: 50px;
    cursor: pointer;
    margin: 5px;
}

.button:active {
    background-color: rgb(125,0,0);
}