
.messagePage {
    display: flex;
    height: 85vh;
}

/* User Pane */
.conversationUserContainer {
    border-right: solid 1px grey;
    padding: 10px;
    width: 30%;
    height: 100%;
    overflow: scroll;
}

.conversationUser{
    display: flex;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}
.userName {
    margin: 6px 0px 0px 10px;
}

.activeConversationUser {
    background-color: rgba(0, 0, 0, 0.05);
}

.conversationUser img {
    border-radius: 50%;
    max-height: 35px;
    max-width: 35px;
}


/* CONVERSATION pane */
.conversationContainer {
    margin-top: 1%;
    padding: 10px;
    width: 70%;
    height: 100%;
}

.messagesContainer {
    height: 90%;
    overflow: scroll;
}

.message{
    display: inline-block;
    padding: 15px;
    border-radius: 30px;
    margin: 4px 20px 0px 0px;
}

.message p {
    margin: 0px;
}

.messageDate{
    font-size: 10px;
}

.sendMessage {
    background-color: cornflowerblue;
}

.recievedMessage {
    background-color: lightgrey;
}

.messageDate, .messageSender {
    display: inline;
}



/* Message Form */

.messageForm {
    display: flex;
    justify-content: space-around;
}

.messageForm textarea {
    width: 80%;
    resize: none;
    border-radius: 20px;
    border: 0px solid white;
    padding: 10px;
    background-color: lightgrey;
}

.messageForm button {
    margin-right: 40px;
    background-color: #007bff;
    border-radius: 20px;
    font-size: 25px;
    width: 100px;
    height: 50px;
    color: white;
    margin-top: 13px;
}

.messageForm button:hover{
    cursor: pointer;
}
