.navbar {
    background-color: firebrick ;
    width: 100%;
    height: 75px;
    vertical-align: middle;
    /*transform: translate(0%, -20px);*/
}

.navbarBrand img{
    max-height: 75%;
}

.navbarItem img{
    max-height: 35%;
}

.navbarBrand img {
    text-decoration: none;
    margin: 5px;
}

.navbarItem img {
    text-decoration: none;
}

.navbarItem {
    position: relative;
    top: -25%;
}

.navbarBrand, .navbarItem {
    text-decoration: none;
}
