
.container {
    display: flex;
    margin-top: 20px;
}

.justifyContentAround{
    justify-content: space-around;
}

.imageContainer{
    width: 50%;
    text-align: center;
}

.imageContainer img {
    border-radius: 20px;
    max-width: 100%;
    max-height: 700px;
}

h1{
    margin: 0;
}

.contactContainer {
    width: 50%;
    margin-top: 7%;
    margin-left: 20px;
}

.box {
    z-index: 1;
    width: 50%;
    background-color: rgb(230,230,230);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .8);
    border-radius: 12px;
    margin: 0px 20px;
    border: 2px solid lightgray;

}


.boxHeader {
    background: lightgray;
    height: 50px;
    line-height: 50px;
    border-radius: 12px 12px 0 0;
    text-align: center;
}

.boxHeader p {
    margin: 0px;
}

.boxBody p {
    padding: 0px 15px;
}

.buttonContainer {
    max-width: 30%;
    display: flex;
    text-align: center;
}

.buttonContainer p {
    margin: 0px;
}

.buttonContainer img{
    max-width: 30%;
    margin-top: 5%;
}

.buttonContainer button{
    height: 100px;
    min-width: 200px;
    cursor: pointer;
    margin: 0px 10px;
}

@media (max-width: 800px){
    .container {
        display: block;
    }

    .imageContainer {
        width: 100%;
    }

    .contactContainer {
        width: 100%;
        margin-left: 15px;
    }

    .box{
        width: 100%;
    }
}

.activeTags {
    background-color: forestgreen;
    border: none;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 1);
    padding: 15px 32px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8%;
}

.inactiveTags {
    background-color: gray;
    border: none;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 1);
    padding: 15px 32px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8%;
}
