
.container {
    display: flex;
}

.column-33 {
    max-width: 33%;
    width: 33%;
    line-height: 100%;
}

.column-30 {
    max-width: 30%;
    width: 30%;
    line-height: 100%;
}

.column-70{
    max-width: 70%;
    width: 70%;
}

.column-50 {
    max-width: 50%;
    line-height: 100%;
}

.center {
     position: relative;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.profilePicture{
    max-width: 100%;
}


.box {
    z-index: 1;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
    border-radius: 12px;
    margin: 0px 20px;
}


.boxHeader {
    background: #f0f0f0;
    height: 50px;
    line-height: 50px;
    border-radius: 12px 12px 0 0;
    text-align: center;
}

.boxHeader p {
    margin: 0px;
}

.boxBody p {
    padding: 0px 15px;
}

.buttonContainer {
    max-width: 30%;
    display: flex;
    text-align: center;
}

.buttonContainer img{
    max-width: 30%;
}

.buttonContainer button{
    height: 100px;
    min-width: 200px;
    cursor: pointer;
    margin: 0px 10px;
}

.buttonContainer button:hover{
    background-color: lightgrey;
}
