<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="search.css">
<link rel="stylesheet" type="text/css" href="/main.css">
<link rel="stylesheet" type="text/css" href="/topPart.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>

<h1 style="text-align: center">Dine favoritter <3

</h1>

<div class="displayFlexFix">
    <div class="favoritebox" th:each="favoriteUser : ${favoritesAsUsersList}" th:object="${favoriteUser}">

        <a class="cleanA" th:href="'/userProfile?userId=' + *{userId}">
            <img src="/images/mand_default.webp">
        </a>
        <a class="cleanA" th:href="'/userProfile?userId=' + *{userId}">
            <div class="seachText">
                <p th:text="'Fornavn: ' + *{firstName}"></p>
                <p th:text="'Efternavn: ' + *{lastName}"></p>
                <p th:text="'Brugernavn: ' + *{username}"></p>
            </div>
        </a>
    </div>


</div>


</body>
</html>