<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/footer.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/modal.css">
</head>
<style>
    body, html {
        height: 100%;
        margin: 0%;
    }
</style>


<body>

<div class="imgHeader">
    &nbsp;
</div>


<div class="boxLogin">
    <div class="boxHeaderLogin">
        <h2>Velkommen til dit dating eventyr</h2>
    </div>
    <div style="display: flex; justify-content: space-around">
        <button class="button" onclick="document.location.href = '/createUser'">Opret bruger
        </button>
        <button class="button" onclick="document.getElementById('loginModal').style.display='block'">Login</button>
    </div>
</div>


<div id="loginModal" class="modal" th:style="${loginError} ? 'display: block' : 'display: none'">
    <form class="modal-content animate" action="/login" method="post">
    <span onclick="document.getElementById('loginModal').style.display='none'" class="close"
          title="Close Modal">&times;</span>
        <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <div th:if="${loginError}" style="color: red; text-align: center">Username eller Password er forkert</div>

            <div style="display: flex">
                <button type="button" onclick="document.getElementById('loginModal').style.display='none'"
                        class="button">
                    Fortryd
                </button>
                <button class="button" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>


<script>
    // Get the modal
    var loginModal = document.getElementById('loginModal');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == loginModal) {
            loginModal.style.display = "none";
        }
    }
</script>

<footer th:replace="/includes/footer :: footer"></footer>

</body>
</html>