<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" type="text/css" href="/message.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
</head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>

<h1>Beskeder:</h1>
<div class="messagesContainer">
    <div class="message" th:each="message, iter : ${messages}">
        <div th:object="${senders[iter.index]}">
            <a class="cleanA" th:href="'/userProfile?userId=' + *{userId}" >
                <h3 class="messageSender" th:text="*{firstName} + ' ' + *{lastName}"></h3>
            </a>
            <p class="messageDate" th:text="${#dates.format(message.messageDate, 'HH:mm dd-MM-yyyy')}"></p>
        </div>
        <p class="messageText" th:text="${message.message}"></p>
    </div>
</div>

</body>
</html>