<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" type="text/css" href="/topPart.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<div th:replace="/includes/topPart :: topPart (currentUser = ${currentUser})"></div>
<h2 style="text-align: center">Du har ikke favoritter endnu.</h2>
<h3 style="text-align: center">Gå til <a href="/search">Søg</a> for at find nogle personer!</h3>
</body>
</html>
