<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" type="text/css" href="/topPart.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <div th:replace="/includes/topPart :: topPart"></div>
    <h2 style="text-align: center">Du har ikke oprettet nogle samtaler endnu.</h2>
    <h3 style="text-align: center">Gå til <a>Søg</a> og find nogle personer at chatte med!</h3>
</body>
</html>