<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="search.css">
<link rel="stylesheet" type="text/css" href="/main.css">
<link rel="stylesheet" type="text/css" href="/topPart.css">


<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

<div th:replace="/includes/topPart :: topPart (currentUser = ${currentUser})"></div>


<form name="searchBar" action="/search" method="get">
    <div class="displayFlexFix">
        <button class="searchButton">Search</button>
        <input class="searchField" type="search" name="search" ;>
    </div>
</form>


<div class="displayFlexFix">
    <div class="favoritebox displayFlex" th:each="user: ${searchList}">

        <a class="cleanA" th:href="'/userProfile?userId=' + ${user.userId}">
        <img th:src="${user.profilePicture != null ? user.profilePicture : '/images/mand_default.webp'}">
        </a>
        <a class="cleanA" th:href="'/userProfile?userId=' + ${user.userId}">
        <div class="seachText">
            <p th:text="'Fornavn: ' + ${user.firstName}"></p>
            <p th:text="'Efternavn: ' + ${user.lastName}"></p>
            <p th:text="'Brugernavn: ' + ${user.username}"></p>
        </div>
        </a>
    </div>



</div>


</body>

</html>