<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="search.css">
<link rel="stylesheet" type="text/css" href="/main.css">
<link rel="stylesheet" type="text/css" href="/topPart.css">


<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<div th:each="tag : ${activeTags}" >
    <h1 th:text="${tag.tagId}"></h1>
</div>

<p> down inactive -------------------------------------------------------------------------------------------------- up active</p>

<div th:each="tag : ${inactiveTags}" >
    <h1 th:text="${tag.tagName}"></h1>
</div>


</body>
</html>


