<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="userProfile.css">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>

<div>
    <div class="container">
        <div class="imageContainer">
            <img class="profilePicture" img src="/images/mand_default.webp">
        </div>

        <div class="contactContainer">
            <div class="">
                <div>
                    <h1 th:text="${user.username}"></h1>
                    <h2>Rating: 10/10</h2>
                    <h3>Indsæt by, brug join i UserDAO</h3>
                </div>
                <div class="buttonContainer">
                    <form method="post" action="/postFavorite" th:object="${favorite}">
                        <input hidden="hidden" type="number" th:field="*{userId}">
                        <input hidden="hidden" type="number" th:field="*{favoriteUserId}">

                        <button type="submit">
                            <p>
                                Tilføj til Favorit
                            </p>
                            <img src="/images/heartNav.png">
                        </button>
                    </form>
                    <a class="cleaA" th:href="'/messages?active=' + ${user.userId}">
                        <button>
                            <p>
                                Send besked
                            </p>
                            <img src="/images/mail.png">
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px">
        <div class="box">
            <div class="boxHeader"><p>Om mig</p></div>
            <div class="boxBody">
                <p th:text="${user.userDescription}"></p>
            </div>
        </div>
        <div class="box">
            <div class="boxHeader"><p>Tags</p></div>
            <div class="boxBody">
                <p th:text="${user.userDescription}"></p>
            </div>
        </div>
    </div>
</div>

<div class="box">
<form method="post" action="/postRating" th:object="${userRating}">
    <input type="number" th:field="*{rating}">
    <select th:field="*{ratingId}">
        <option th:each="ratingUser : ${ratingList}" th:value="${ratingUser.ratingId}" th:text="${ratingUser.ratingName}"> </option>
    </select>
    <input type="number" th:field="*{targetUserId}">
    <input type="number" th:field="*{creatorUserId}">
    <button type="submit">Giv Rating</button>
</form>
</div>


<!--<form method="post" th:action="@{/userProfile/createUserRating}" th:object="${userRatings}">-->


<!--    <div th:each="r, iter : ${ratings}">-->
<!--        <label th:text="${r.ratingName}"></label>-->
<!--&lt;!&ndash;        <input type="number" th:field="*{userRatings[iter.index]}">&ndash;&gt;-->
<!--        <select>-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--        <option value="6">6</option>-->
<!--        <option value="7">7</option>-->
<!--        <option value="8">8</option>-->
<!--        <option value="9">9</option>-->
<!--        <option value="10">10</option>-->
<!--        </select>-->
<!--     </div>-->
<!--    <button type="submit">Bedøm</button>-->
<!--    <button>Fortryd</button>-->
<!--</form>-->


<!--  <form method="post" th:action="@{/createUserRating/submit}" th:object="${userRatings}">-->

<!--  </form>-->


</body>
</html>