<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="userProfile.css">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/rating.css">
</head>
<body>

<div th:replace="/includes/topPart :: topPart(currentUser = ${ currentUser })"></div>

<div>
    <div class="container justifyContentAround">
        <div class="imageContainer">
            <img th:src="${user.profilePicture != null ? user.profilePicture : '/images/mand_default.webp'}">
            <form style="text-align: center" th:if="${isMyProfile}" method="POST" enctype="multipart/form-data" action="/uploadProfilePicture">
                <span>Upload Profilbillede: </span>
                <input type="file" name="file" placeholder="Vælg billede"/>
                <button type="submit" value="Upload">Upload billed</button>
            </form>
        </div>

        <div class="contactContainer">
            <div class="">
                <div>
                    <h1 th:text="${user.username}"></h1>
                    <h2 th:text="'Rating ' + ${user.avgRating} + '/10 Antal af rating(s) ' + ${user.amountOfRatings}"></h2>
                    <h3 th:text="'Hjemby ' + ${user.town.townName}"></h3>
                    <button th:if="${isMyProfile}" onclick="window.location.href='/updateUser'">Ændre stamoplysninger</button>
                </div>
                <div class="buttonContainer">
                    <form method="post" action="/favorite/submit" th:object="${favorite}">
                        <input hidden="hidden" type="number" th:field="*{userId}">
                        <input hidden="hidden" type="number" th:field="*{favoriteUserId}">

                        <button type="submit">
                            <p>
                                Tilføj til Favorit
                            </p>
                            <img src="/images/heartNav.png">
                        </button>
                    </form>
                    <a class="cleaA" th:href="'/messages?active=' + ${user.userId}">
                        <button>
                            <p>
                                Send besked
                            </p>
                            <img src="/images/mail.png">
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <div class="boxHeader"><h1>Om mig</h1></div>
            <div class="boxBody">
                <p class="aboutMe" th:text="${user.userDescription}"></p>
            </div>
        </div>
        <div class="box">
            <div class="boxHeader"><h1> Tags </h1></div>
            <div class="boxBody flexWrap" th:if="${isMyProfile}">
                <form th:each="tag : ${activeTags}" th:object="${userTag}" method="post" th:action="@{/userTagPost}">
                    <input name="tagId" th:value="${tag.tagId}" hidden="hidden">
                    <input name="userId" th:value="${currentUser.userId}" hidden="hidden">
                    <button class="activeTags" type="submit" th:text="${tag.tagName}"></button>
                </form>

                <form th:each="tag : ${inactiveTags}" th:object="${userTag}" method="post" th:action="@{/userTagPost}">
                    <input name="tagId" th:value="${tag.tagId}" hidden="hidden">
                    <input name="userId" th:value="${currentUser.userId}" hidden="hidden">
                    <button class="inactiveTags" type="submit" th:text="${tag.tagName}"></button>
                </form>
            </div>
            <div class="boxBody flexWrap" th:unless="${isMyProfile}">
                <span class="activeTags" style="cursor: default" th:each="tag : ${activeTags}" th:object="${userTag}" th:text="${tag.tagName}"></span>
            </div>
        </div>
    </div>
</div>

<div class="box ratingSpace">
    <div class="boxHeader"><h1> Giv rating </h1></div>
    <form method="post" action="/postRating" th:object="${userRating}">
        <select class="ratingOption ratingButton" th:field="*{rating}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>

        </select>
        <select class="ratingButton" th:field="*{ratingId}">
            <option th:each="ratingUser : ${ratingList}" th:value="${ratingUser.ratingId}"
                    th:text="${ratingUser.ratingName}"></option>
        </select>

        <input type="number" hidden="hidden" th:value="${user.userId}" name="targetUserId">
        <input type="number" hidden="hidden" th:value="${currentUser.userId}" name="creatorUserId">
        <button class="ratingButton" type="submit">Giv Rating</button>
    </form>

</div>


<!--<form method="post" th:action="@{/userProfile/createUserRating}" th:object="${userRatings}">-->


<!--    <div th:each="r, iter : ${ratings}">-->
<!--        <label th:text="${r.ratingName}"></label>-->
<!--&lt;!&ndash;        <input type="number" th:field="*{userRatings[iter.index]}">&ndash;&gt;-->
<!--        <select>-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--        <option value="6">6</option>-->
<!--        <option value="7">7</option>-->
<!--        <option value="8">8</option>-->
<!--        <option value="9">9</option>-->
<!--        <option value="10">10</option>-->
<!--        </select>-->
<!--     </div>-->
<!--    <button type="submit">Bedøm</button>-->
<!--    <button>Fortryd</button>-->
<!--</form>-->


<!--  <form method="post" th:action="@{/createUserRating/submit}" th:object="${userRatings}">-->

<!--  </form>-->


</body>
</html>