<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K</title>
    <link rel="stylesheet" type="text/css" href="/modal.css">
</head>
<body>
<form class="modal-content animate" action="/admin/login/submit" method="post">
    <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <div style="display: flex">
            <button type="button" onclick="window.location.href='/'"
                    class="button">
                Fortryd
            </button>
            <button class="button" type="submit">Login</button>
        </div>
    </div>
</form>
</body>
</html>