<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>topPart</title>
</head>

<body>
<div th:fragment="topPart">
    <div class="navbar">
        <a class="navbar-brand" href="/">Forside</a>
        <a class="nav-item" href="/foodwaste">Profil</a>
        <a class="nav-item" href="/foodPlanner"> <img src="/images/heartNav.png" alt=""> </a>
        <a class="nav-item" href="/organisation">Om organisationen</a>
    </div>


<!--    <img class="imgLogo" src="/images/dateNRateLogo.png" alt="">-->
</div>


</body>
</html>