<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>topPart</title>
</head>

<body>
<div th:fragment="topPart">
    <div class="navbar">
        <a class="navbarBrand" href="/">
            <img src="/images/dateNRateLogo.png">
        </a>
        <div class="navbarCenterItems">
            <a class="navbarItem" href="/messages?userId=">
                <img src="/images/mail.png" alt="">
            </a>
            <a class="navbarItem" href="/favorites">
                <img src="/images/heartNav.png" alt="">
            </a>
            <a class="navbarItem" href="/search">
                <img src="/images/magnifying_glass.png" alt="">
            </a>
        </div>
        <a class="navbarItem" href="/userProfile?userId=" style="margin: 0px 0px 0px 15px">
            <img src="/images/profile.png" alt="">
        </a>

    </div>


    <!--    <img class="imgLogo" src="/images/dateNRateLogo.png" alt="">-->
</div>


</body>
</html>