<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
    <title>topPart</title>
</head>

<body>
<div th:fragment="topPart (currentUser)">
    <div class="navbar">
        <a class="navbarBrand" href="/userFrontpage">
            <img src="/images/dateNRateLogo.png">
        </a>
        <div class="navbarCenterItems">
            <a class="navbarItem" href="/messages">
                <img src="/images/mail.png" alt="">
            </a>
            <a class="navbarItem" href="/favorite">
                <img src="/images/heartNav.png" alt="">
            </a>
            <a class="navbarItem" href="/search">
                <img src="/images/magnifying_glass.png" alt="">
            </a>
        </div>
        <div>
            <a class="navbarItem" th:href="${'/userProfile?userId=' + currentUser.userId}" style="margin: 0px 0px 0px 15px">
                <img src="/images/profile.png" alt="">
            </a>
            <i class="fas fa-sign-out-alt logoutIcon" onclick="window.location.href='/logout'"></i>
        </div>
    </div>


    <!--    <img class="imgLogo" src="/images/dateNRateLogo.png" alt="">-->
</div>


</body>
</html>